<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HBS page</h2>
    <hr>

<ul class="people_list">
  {{#each data}}
    <img src="../uploads/{{this.image}}" alt="img" width="50px" > <br> <br>
    {{!-- <li>{{this.image}}</li> --}}
  {{/each}}
</ul>

</body>
</html>